<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('includes/common/head'); %>
  <%- include('includes/head' + contentName + headSuffix); %>
</head>
<body>

<%- include('includes/common/header'); %>

<%- include('includes/content' + contentName); %>

<%- include('includes/common/footer'); %>

</body>
</html>
